body{
    margin: 0 auto ;
    padding: 0;
    width: 960px;
    background-color: lightblue;
}
.name{
    color:rgb(238, 61, 185);
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
h1{
    font-size: 40px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient( 45deg, rgb(238, 61, 185),rgb(131, 7, 100));
    padding: 10px 10px;
    color: white;
    border-radius: 7px;
    font-style: bold;
    margin-top: 25px;
    
}
p{
    margin-bottom: 40px;
    font-size: 20px;
}
.intro{
    width: 40%;
    margin-left: 40px;
    float: left;
    
}
img{
    width: 100%;
    margin-top: 40px;
    margin-left: 30px;
}
.sec1{
    height: 500px;
    background-image: url(pic/head.png);
    background-size: 100%;
    
}
.sec2{
    height: 500px;
    background-image: url(pic/bio.png);
    background-size: 100%;
    overflow: hidden;
}
#biop{
    margin-left: 80px;
    margin-top: 90px;
}
.work-header{
    margin-left: 350px;
}
.sec3{
    height: 500px;
    background-image: url(pic/work.png);
    background-size: 100%;
    overflow: hidden;
}
#work-pic img{
              height: 250px;
              width: 250px;
              float: left;
              overflow: hidden;
              padding-left: 25px;
}
.sec4{
    height: 700px;
    background-image: url(pic/footer.png);
    background-size: 100%;
    overflow: hidden;
}
#founder{
    color: gray;
}
.lorem{
    margin-left: 300px;
}
.last-button{
    margin-left: 250px;
    padding: 30px 30px;
    background-image: linear-gradient( 45deg, orange,orangered);
    width: 500px;
    color: white;
    margin-top: 30px;
    border-radius: 21px;
    box-shadow: 10px 10px 30px black;
    margin-right: 40px;
}
}
.leav{
    color: indianred;
}
.copy{
    margin-left: 300px;
    margin-top: 60px;
    background-color: lightgray;
    width: 300px;
    padding: 5px 5px;
    padding-left: 100px;
}